$border-radius: 10px;
$action-color: skyblue;

.body {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	.main {
		border-radius: $border-radius;
		height: 600px;
		width: 90%;

		.panel {
			background-color: $action-color;
			border-radius: $border-radius $border-radius 0 0;
			height: 72px;
			width: 100%;
		}
	}
}
