<div class="body">
	<div *ngIf="!loaded" class="loadingContainer">
		<h1>Loading FFmpeg Engine...</h1>
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</div>
	<div *ngIf="loaded" class="main" [class.mat-elevation-z2]="true">
		<div class="panel">
			<button mat-icon-button class="button" (click)="clickPreview()">
				<mat-icon [class.selected]="selected === 1"
					>play_circle_outline</mat-icon
				>
			</button>
			<button mat-icon-button class="button" (click)="clickAdd()">
				<mat-icon [class.selected]="selected === 2">add</mat-icon>
			</button>
			<button mat-icon-button class="button" (click)="clickMusic()">
				<mat-icon [class.selected]="selected === 3">music_note</mat-icon>
			</button>
			<button mat-icon-button class="button" (click)="clickRestore()">
				<mat-icon [class.selected]="selected === 4">restore</mat-icon>
			</button>
			<div style="flex-grow: 1"></div>
			<app-convert></app-convert>
		</div>
		<router-outlet></router-outlet>
		<app-view></app-view>
		<!-- <div class="footer">
			<p style="font-size: large; margin: 0">
				Total Time <span style="color: red">00:00</span>
			</p>
		</div> -->
	</div>
</div>
