<div class="body">
	<div class="main" [class.mat-elevation-z2]="true">
		<div class="panel">
			<button mat-icon-button disableRipple>
				<mat-icon>play_circle_outline</mat-icon>
			</button>
			<button mat-icon-button disableRipple>
				<mat-icon>add</mat-icon>
			</button>
			<button mat-icon-button disableRipple>
				<mat-icon>music_note</mat-icon>
			</button>
			<button mat-icon-button disableRipple>
				<mat-icon>restore</mat-icon>
			</button>
		</div>
	</div>
</div>

<!-- <mat-card [class.mat-elevation-z0]="true" class="panel actions">
	<button mat-icon-button disableRipple>
		<mat-icon>play_circle_outline</mat-icon>
	</button>
	<button mat-icon-button disableRipple>
		<mat-icon>add</mat-icon>
	</button>
	<button mat-icon-button disableRipple>
		<mat-icon>music_note</mat-icon>
	</button>
	<button mat-icon-button disableRipple>
		<mat-icon>restore</mat-icon>
	</button>
	<div class="filler"></div>
	<button mat-flat-button>Publish & Checkout</button>
</mat-card> -->
