$border-radius: 10px;
$action-color: skyblue;

.body {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	.main {
		border-radius: $border-radius;
		display: flex;
		flex-direction: column;
		width: 90%;
		height: auto;

		.panel {
			align-items: center;
			background-color: $action-color;
			border-radius: $border-radius $border-radius 0 0;
			display: flex;
			width: 100%;

			.button {
				$size: 48px;
				$ripple: $size * 1.5;
				color: white;
				height: $ripple;
				margin: 10px 15px;
				width: $ripple;
				transform: translateY(0);

				mat-icon {
					font-size: $size;
					width: $size;
					line-height: $size;
					height: $size;
					transition: 0.25s;
				}
			}

			.button :hover {
				transform: translateY(-1px);
			}

			.selected {
				color: grey !important;
			}
		}

		.view {
			align-items: center;
			display: flex;
			flex-grow: 1;
			padding: 20px;

			.box {
				align-items: center;
				background-color: $action-color;
				border-radius: 15px;
				display: flex;
				height: 200px;
				justify-content: center;
				width: 200px;

				.mat-icon {
					transform: scale(6);
					color: white;
				}
			}

			canvas {
				margin-right: 20px;
			}
		}

		.footer {
			align-items: center;
			background-color: $action-color;
			border-radius: 0 0 $border-radius $border-radius;
			display: flex;
			height: 60px;
			justify-content: center;
			width: 100%;
		}
	}
}
