$border-radius: 10px;
$action-color: skyblue;

.body {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	.main {
		border-radius: $border-radius;
		display: flex;
		flex-direction: column;
		width: 90%;

		.panel {
			align-items: center;
			background-color: $action-color;
			border-radius: $border-radius $border-radius 0 0;
			display: flex;
			height: 72px;
			width: 100%;

			button {
				margin: 0 15px;

				.mat-icon {
					transition: 0.25s;
					transform: scale(2) translateY(0);
					color: white;
				}
			}

			.button :hover {
				transform: scale(2) translateY(-1px);
				color: rgba(0, 0, 0, 0.3);
			}

			.selected {
				color: rgba(0, 0, 0, 0.3) !important;
			}
		}

		.view {
			align-items: center;
			display: flex;
			flex-grow: 1;
			padding: 20px;

			.box {
				align-items: center;
				background-color: $action-color;
				border-radius: 15px;
				display: flex;
				height: 200px;
				justify-content: center;
				width: 200px;

				.mat-icon {
					transform: scale(6);
					color: white;
				}
			}
		}

		.footer {
			align-items: center;
			background-color: $action-color;
			border-radius: 0 0 $border-radius $border-radius;
			display: flex;
			height: 60px;
			justify-content: center;
			width: 100%;
		}
	}
}
