.view {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: scroll;
	padding: 20px;

	#app-canvas {
		width: -webkit-fill-available;
	}

	.box {
		align-items: center;
		align-self: flex-start;
		background-color: grey;
		border-radius: 15px;
		display: flex;
		height: 200px;
		justify-content: center;
		margin: 10px 10px;
		min-height: 200px;
		width: 200px;

		.mat-icon {
			transform: scale(6);
			color: white;
		}
	}
}
