.main {
	align-items: center;
	background-color: white;
	border-bottom: solid lightgrey 1px;
	border-radius: 0;
	display: flex;
	justify-content: center;
	width: 100%;

	.progress {
		color: grey;
		font-size: 20px;
		height: 20px;
		margin: -30px 0 10px 9px;
	}

	button {
		$size: 48px;
		$ripple: $size * 1.5;
		color: grey;
		height: $ripple;
		margin: 20px 10px;
		width: $ripple;

		mat-icon {
			font-size: $size;
			width: $size;
			line-height: $size;
			height: $size;
		}
	}
}
