@import "~@angular/material/theming";

$typography: mat-typography-config(
	$font-family: "Montserrat",
);

$primary: mat-palette($mat-grey, 800, 400, 200);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
			warn: $warn,
		),
	)
);

@include mat-core($typography);
@include angular-material-theme($theme);

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: #00000000;
}

::-webkit-scrollbar-thumb {
	background: #80808080;
}

::-webkit-scrollbar-thumb:hover {
	background: #4e4e4e;
}
