@import "~@angular/material/theming";
@include mat-core();

$Tribute-Media-Editor-primary: mat-palette($mat-indigo);
$Tribute-Media-Editor-accent: mat-palette($mat-pink, A200, A100, A400);

$Tribute-Media-Editor-warn: mat-palette($mat-red);

$Tribute-Media-Editor-theme: mat-light-theme(
	(
		color: (
			primary: $Tribute-Media-Editor-primary,
			accent: $Tribute-Media-Editor-accent,
			warn: $Tribute-Media-Editor-warn,
		),
	)
);

@include angular-material-theme($Tribute-Media-Editor-theme);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
