#main {
	display: flex;
	flex-direction: column;

	canvas {
		align-self: center;
		background-color: grey;
		margin: 10px 0;
	}

	.imgArray {
		border-bottom: solid 1px lightgrey;
		border-top: solid 1px lightgrey;
		margin: 20px 0;
		padding: 20px 0;

		.imgContainer {
			align-items: center;
			border-radius: 5px;
			display: inline-grid;
			height: 200px;
			margin: 10px 10px;
			width: 200px;
		}
	}
}
